mixin menu(data)
	.menu
		.menu__mobile.js-menu Меню
		.menu__list
			a(href="#offers" title="").menu__item Услуги
			a(href="#portfolio" title="").menu__item Наши работы
			a(href="#prices" title="").menu__item Цены

