doctype html
html(class="no-js", lang="ru")

	include ../components/head/head
	include ../components/header/header
	include ../components/menu/menu
	include ../components/footer/footer

	head
		+head(head.defaults)
	body
		block header
			+header
		main.main
			.content
				block content
			.sidebar
				block sidebar
		block footer
			+footer
		.overlay
		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')