mixin portfolio(data)
	.portfolio
		.portfolio__wrapper
			.portfolio__title.title Наши работы
			.portfolio-gallery
				//href="%=static=%images/assets/portfolio/work1.jpg"
				.portfolio-gallery__list
					a(data-fancybox="images" href="%=static=%images/assets/portfolio/work1-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						img(src="%=static=%images/assets/portfolio/work1.jpg" class="image-responsive")
					a(data-fancybox="images" href="%=static=%images/assets/portfolio/work2-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						img(src="%=static=%images/assets/portfolio/work2.jpg" class="image-responsive")
					a(data-fancybox="images" href="%=static=%images/assets/portfolio/work3-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						img(src="%=static=%images/assets/portfolio/work3.jpg" class="image-responsive")
					a(data-fancybox="images" href="%=static=%images/assets/portfolio/work4-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						img(src="%=static=%images/assets/portfolio/work4.jpg" class="image-responsive")
				.portfolio-gallery-more
					.portfolio-gallery__list
						a(data-fancybox="images" href="%=static=%images/assets/portfolio/work5-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
							img(src="%=static=%images/assets/portfolio/work5.jpg" class="image-responsive")
						a(data-fancybox="images" href="%=static=%images/assets/portfolio/work6-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
							img(src="%=static=%images/assets/portfolio/work6.jpg" class="image-responsive")
						a(data-fancybox="images" href="%=static=%images/assets/portfolio/work7-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
							img(src="%=static=%images/assets/portfolio/work7.jpg" class="image-responsive")
						a(data-fancybox="images" href="%=static=%images/assets/portfolio/work8-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
							img(src="%=static=%images/assets/portfolio/work8.jpg" class="image-responsive")
						a(data-fancybox="images" href="%=static=%images/assets/portfolio/work9-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
							img(src="%=static=%images/assets/portfolio/work9.jpg" class="image-responsive")
						//- a(data-fancybox="images" href="%=static=%images/assets/portfolio/work10-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						//- 	img(src="%=static=%images/assets/portfolio/work10.jpg" class="image-responsive")
						//- a(data-fancybox="images" href="%=static=%images/assets/portfolio/work11-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						//- 	img(src="%=static=%images/assets/portfolio/work11.jpg" class="image-responsive")
						//- a(data-fancybox="images" href="%=static=%images/assets/portfolio/work12-big.jpg" data-caption="Caption #1" class="portfolio-gallery__item")
						//- 	img(src="%=static=%images/assets/portfolio/work12.jpg" class="image-responsive")								
				.portfolio-gallery-bottom						
					.portfolio-gallery__button.jsPortfolioGalleryButton.button._red Смотреть все				