::-webkit-input-placeholder {
	color: $black;
}
::-moz-placeholder {
	color: $black;
}
:-moz-placeholder {
	color: $black;
}
:-ms-input-placeholder {
	color: $black;
}
a {
	text-decoration: none;
	@include transition;
}
.button {
	display: inline-block;

	cursor: pointer;
	text-decoration: none;

	color: $white;
	
	@include transition;
}
.form-field {
	border: 1px solid #cdcdcd;
	border-radius: 5px;
}
