.button {
    display: inline-block;

    cursor: pointer;
    text-decoration: none;

    color: $white;

    @include transition;

    &._small {
        padding: 7px 25px;
    }
    &._big {
        padding: 10px 50px;
    }
}
._small-title {
    font-size: 21px;
}
._big-title {
    font-size: 38px;
}
._bold {
    font-weight: bold;
}
._text-center {
    text-align: center;
}
.input-form {
    border: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
