@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}
@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}
@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}
@mixin transition
{
    transition: all .33s ease-in-out;
}
@mixin opacity
{
    opacity: .8;
}
@mixin absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@mixin absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin absolute-horizontal-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
