.header {
	&__wrapper {
		@extend .wrapper;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 19px 20px 14px;
		border-bottom: 1px solid #eee;
		@media screen and (max-width:768px){
			flex-direction: column;
			padding: 0;
		}
	}
	&__logo {
		background-image: url(%=static=%general/logo.png);
		background-repeat: no-repeat;
		width: 100px;
		height: 87px;
		text-indent: -9999px;
		@media screen and (max-width:768px){
			order: 2;
		}
	}
	&-contacts {
		display: flex;
		@media screen and (max-width:768px){
			display: none;
		}		
		&:before {
			@include bg($phone);
			content: '';
			display: block;
		}
		a {
			font-size: 20px;
		}

	}
}