mixin demo(data)
	.demo
		.demo__wrapper
			.demo-slider
					.demo-slider__item._v1
					.demo-slider__item._v2
					.demo-slider__item._v3
					.demo-slider__item._v4
					.demo-slider__item._v5
					.demo-slider__item._v6
					.demo-slider__item._v7